# Игнорируем виртуальное окружение
venv/

# Игнорируем файлы настроек среды разработки
.idea/
.vscode/

# Игнорируем файлы кеша и временные файлы
__pycache__/
*.pyc
*.pyo

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем файлы с секретными данными
.env
*.key
*.pem
config.py
venv/ 
"utils/__init__.py" 
"steam/__init__.py" 
"screenshots/steam_login.png" 
